<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/1508/1508880.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/discuss-detail.css}"/>
    <title>Coder Community - discussion detail</title>
</head>
<body>
<div class="nk-container">
    <!-- header -->
    <header class="bg-dark sticky-top" th:replace="index::header"></header>

    <!-- content -->
    <div class="main">
        <!-- posts -->
        <div class="container">
            <!-- post header -->
            <h6 class="mb-4">
                <img src="http://static.nowcoder.com/images/img/icons/ico-discuss.png"/>
                <span th:utext="${post.title}">post title</span>
                <div class="float-right">
                    <input type="hidden" id="postId" th:value="${post.id}">
                    <button type="button" class="btn btn-danger btn-sm" id="topBtn"
                        th:disabled="${post.type==1}" sec:authorize="hasAnyAuthority('moderator')">Stick to Top</button>
                    <button type="button" class="btn btn-danger btn-sm" id="usefulBtn"
                            th:disabled="${post.status==1}" sec:authorize="hasAnyAuthority('moderator')">Mark as Useful</button>
                    <button type="button" class="btn btn-danger btn-sm" id="deleteBtn"
                            th:disabled="${post.status==2}" sec:authorize="hasAnyAuthority('admin')">Delete</button>
                </div>
            </h6>
            <!-- post owner -->
            <div class="media pb-3 border-bottom">
                <a th:href="@{|/user/profile/${user.id}|}">
                    <img th:src="${user.headerUrl}" class="align-self-start mr-4 rounded-circle user-header"
                         alt="profile photo">
                </a>
                <div class="media-body">
                    <div class="mt-0 text-warning" th:utext="${user.username}">username</div>
                    <div class="text-muted mt-3">
                        Posted at <b th:text="${#dates.format(post.createTime,'yyyy-MM-dd HH:mm:ss')}">2022-04-15
                        15:32:18</b>
                        <ul class="d-inline float-right">
                            <li class="d-inline ml-2">
                                <a href="javascript:;" th:onclick="|like(this, 1, ${post.id}, ${post.userId}, ${post.id})|" class="text-primary">
                                    <b th:text="${likeStatus==1?'Liked':'Like'}">Like</b> <i th:text="${likeCount}">11</i>
                                </a>
                            </li>
                            <li class="d-inline ml-2">|</li>
                            <li class="d-inline ml-2"><a href="#replyform" class="text-primary">Comments <i
                                    th:text="${post.commentCount}">7</i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- content -->
            <div class="mt-4 mb-3 content" th:utext="${post.content}">Post content placeholder</div>
        </div>
        <!-- comments -->
        <div class="container mt-3">
            <!-- number of comments -->
            <div class="row">
                <div class="col-8">
                    <h6><b class="square"></b> <i th:text="${post.commentCount}">Post comment count placeholder</i>
                        comments</h6>
                </div>
                <div class="col-4 text-right">
                    <a href="#replyform" class="btn btn-primary btn-sm">&nbsp;&nbsp;Comment&nbsp;&nbsp;</a>
                </div>
            </div>
            <!-- comment list -->
            <ul class="list-unstyled mt-4">
                <li class="media pb-3 pt-3 mb-3 border-bottom" th:each="cvo:${comments}">
                    <a th:href="@{|/user/profile/${cvo.user.id}|}">
                        <img th:src="${cvo.user.headerUrl}" class="align-self-start mr-4 rounded-circle user-header"
                             alt="profile photo">
                    </a>
                    <div class="media-body">
                        <div class="mt-0">
                            <span class="font-size-12 text-success"
                                  th:utext="${cvo.user.username}">username placeholder</span>
                            <span class="badge badge-secondary float-right floor">
									<i th:text="${offset + cvoStat.count}">1</i>#
							</span>
                        </div>

                        <div class="mt-2" th:utext="${cvo.comment.content}">comment context</div>
                        <div class="mt-4 text-muted font-size-12">
                            <span>Post at <b th:text="${#dates.format(cvo.comment.createTime,'yyyy-MM-dd HH:mm:ss')}">2019-04-15 15:32:18</b></span>
                            <ul class="d-inline float-right">
                                <li class="d-inline ml-2">
                                    <a href="javascript:;" th:onclick="|like(this, 2, ${cvo.comment.id}, ${cvo.comment.userId}, ${post.id})|" class="text-primary">
                                        <b th:text="${cvo.likeStatus==1?'Liked':'Like'}">Like</b> (<i th:text="${cvo.likeCount}">11</i>)
                                    </a>
                                </li>
                                <li class="d-inline ml-2">|</li>
                                <li class="d-inline ml-2"><a href="#" class="text-primary">Replies (<i
                                        th:text="${cvo.replyCount}">2</i>)</a></li>
                            </ul>
                        </div>
                        <!-- reply list -->
                        <ul class="list-unstyled mt-4 bg-gray p-3 font-size-12 text-muted">

                            <li class="pb-3 pt-3 mb-3 border-bottom" th:each="rvo:${cvo.replies}">
                                <div>
									<span th:if="${rvo.target==null}">
										<b class="text-info" th:text="${rvo.user.username}">comment user</b>:&nbsp;&nbsp;
									</span>
                                    <span th:if="${rvo.target!=null}">
											<i class="text-info" th:text="${rvo.user.username}">user</i> replied
											<b class="text-info" th:text="${rvo.target.username}">target user</b>:&nbsp;&nbsp;
									</span>
                                    <span th:utext="${rvo.reply.content}">reply content</span>
                                </div>

                                <div class="mt-3">
                                    <span th:text="${#dates.format(rvo.reply.createTime,'yyyy-MM-dd HH:mm:ss')}">2019-04-15 15:32:18</span>
                                    <ul class="d-inline float-right">
                                        <li class="d-inline ml-2">
                                            <a href="javascript:;" th:onclick="|like(this, 2, ${rvo.reply.id}, ${rvo.reply.userId})|" class="text-primary">
                                                <b th:text="${rvo.likeStatus==1?'Liked':'Like'}">Like</b> (<i th:text="${rvo.likeCount}">11</i>)
                                            </a>
                                        </li>
                                        <li class="d-inline ml-2">|</li>
                                        <li class="d-inline ml-2"><a th:href="|#reply-${rvoStat.count}|"
                                                                     data-toggle="collapse"
                                                                     class="text-primary">Reply</a></li>
                                    </ul>
                                    <div th:id="|reply-${rvoStat.count}|" class="mt-4 collapse">
                                        <form method="post" th:action="@{|/comment/add/${post.id}|}">
                                            <div>
                                                <input type="text" class="input-size" name="content"
                                                       th:placeholder="|reply ${rvo.user.username}|"/>
                                                <input type="hidden" name="entityType" value="2">
                                                <input type="hidden" name="entityId" th:value="${cvo.comment.id}">
                                                <input type="hidden" name="targetId" th:value="${rvo.user.id}">
<!--                                            </div>-->
                                            <div class="text-right mt-2">
                                                <button type="submit" class="btn btn-primary btn-sm" onclick="#">&nbsp;&nbsp;reply&nbsp;&nbsp;</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>

                            <!-- reply to the post comment form -->
                            <li class="pb-3 pt-3">
                                <form method="post" th:action="@{|/comment/add/${post.id}|}">
                                    <div>
                                        <input type="text" class="input-size" name="content"
                                               placeholder="Please leave your comment here"/>
                                        <input type="hidden" name="entityType" value="2">
                                        <input type="hidden" name="entityId" th:value="${cvo.comment.id}">
                                    </div>
                                    <div class="text-right mt-2">
                                        <button type="submit" class="btn btn-primary btn-sm" onclick="#">&nbsp;&nbsp;Comment&nbsp;&nbsp;</button>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <!-- pages -->
            <nav class="mt-5" th:replace="index::pagination"></nav>
        </div>
        <!-- comment form -->
        <div class="container mt-3">
            <form class="replyform" method="post" th:action="@{|/comment/add/${post.id}|}">
                <p class="mt-3">
                    <a name="replyform"></a>
                    <textarea placeholder="Reply to the comment" name="content"></textarea>
                    <input type="hidden" name="entityType" value="1">
                    <input type="hidden" name="entityId" th:value="${post.id}">
                </p>
                <p class="text-right">
                    <button type="submit" class="btn btn-primary btn-sm">&nbsp;&nbsp;Reply&nbsp;&nbsp;</button>
                </p>
            </form>
        </div>
    </div>

    <!-- footer -->
    <footer class="bg-dark" th:replace="index::footer"></footer>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script th:src="@{/js/global.js}"></script>
<script th:src="@{/js/discuss.js}"></script>
</body>
</html>
