<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="https://cdn-icons-png.flaticon.com/512/1508/1508880.png"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<title>Coder Community - statistics</title>
</head>
<body>
<div class="nk-container">
	<!-- header -->
	<header class="bg-dark sticky-top" th:replace="index::header"></header>

	<!-- content -->
	<div class="main">
		<!-- UV -->
		<div class="container pl-5 pr-5 pt-3 pb-3 mt-3">
			<h6 class="mt-3"><b class="square"></b> Unique Visitor</h6>
			<form class="form-inline mt-3" method="post" th:action="@{/statistics/uv}">
				<input type="date" class="form-control" required name="start" th:value="${#dates.format(UVStartDate,'yyyy-MM-dd')}"/>
				<input type="date" class="form-control ml-3" required name="end" th:value="${#dates.format(UVEndDate,'yyyy-MM-dd')}"/>
				<button type="submit" class="btn btn-primary ml-3">Get Result</button>
			</form>
			<ul class="list-group mt-3 mb-3">
				<li class="list-group-item d-flex justify-content-between align-items-center">
					Result
					<span class="badge badge-primary badge-danger font-size-14" th:text="${UVResult}">0</span>
				</li>
			</ul>
		</div>
		<!-- DAU -->
		<div class="container pl-5 pr-5 pt-3 pb-3 mt-4">
			<h6 class="mt-3"><b class="square"></b> Active User</h6>
			<form class="form-inline mt-3" method="post" th:action="@{/statistics/dau}">
				<input type="date" class="form-control" required name="start" th:value="${#dates.format(DAUStartDate,'yyyy-MM-dd')}"/>
				<input type="date" class="form-control ml-3" required name="end" th:value="${#dates.format(DAUEndDate,'yyyy-MM-dd')}"/>
				<button type="submit" class="btn btn-primary ml-3">Get Result</button>
			</form>
			<ul class="list-group mt-3 mb-3">
				<li class="list-group-item d-flex justify-content-between align-items-center">
					Result
					<span class="badge badge-primary badge-danger font-size-14" th:text="${DAUResult}">0</span>
				</li>
			</ul>
		</div>
	</div>

	<!-- footer -->
	<footer class="bg-dark" th:replace="index::footer"></footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script th:src="@{/js/global.js}"></script>
</body>
</html>

